<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main/style.css">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <title>Product</title>
</head>
<body>
    <div class="visibleBody">
        <nav>
            <ul class="navContainer">
                <li class="navTitle"><h3 onclick="location.reload()">Classical Agro</h3></li>
                <li class="navList"><a href=""><i class="fa-solid fa-house"></i>Dashboard</a></li>
                <li class="navList"><a href="/product"><i class="fa-solid fa-boxes-stacked"></i>Product</a></li>
                <li class="navList"><a href="/customer"><i class="fa-solid fa-cart-shopping"></i>Customer</a></li>
                <li class="navList"><a href="/user"><i class="fa-solid fa-address-card"></i>User</a></li>
                <li class="navList"><a href="/bank"><i class="fa-solid fa-building-columns"></i>Bank</a></li>
                <li class="navList"><a href="/expense"><i class="fa-solid fa-sack-dollar"></i>Expense</a></li>
                <li class="navList"><a href="/report"><i class="fa-solid fa-clipboard-check"></i>Report</a></li>
                <li class="navList"><button class="loginBtn" title="Log Out"><i class="fa-solid fa-arrow-right-to-bracket"></i></button></li>
            </ul>
        </nav>